@media screen and (max-width: 1200px) {
    #header .container-header {
        padding: 0 10%;
    }

    main .landing .features .feature {
        max-width: 330px;
    }

    main .services .container-servs {
        row-gap: 60px;
        padding: 60px 0 50px 0;
    }

    main .services .container-servs .container-servs-img {
        justify-content: space-evenly
    }

    main .services .container-servs .container-servs-img .cadre-img-servs {
        display: none;
    }

    main .services .container-servs .container-servs-img .cadre-servs {
        width: 100%;
    }

    /* --- Portfolio --- */
    main .portfolio .container-portfolio .container-projects .project {
        max-width: 455px;

    }

    /* --- About --- */
    main .about .container-about {
        min-width: 970px;
        row-gap: 90px;
    }

    main .about .container-about .article-about .descript-about {
        width: 440px;
    }
}


@media screen and (max-width: 990px) {
    /* --- Portfolio --- */
    main .portfolio .container-portfolio .container-projects {
        width: 90%;
    }

    main .portfolio .container-portfolio .container-projects .project {
        max-width: 345px;
    }

    /* --- About --- */
    main .about .container-about {
        min-width: 100%;
    }

    main .about .container-about .article-about {
        row-gap: 80px;
    }

    main .about .container-about .article-about .cadre-img {
        padding: 0;
    }

    main .about .container-about .article-about .cadre-img::before {
        display: none;
    }
    
    main .about .container-about .article-about .cadre-img::after {
        display: none;
    }

    main .about .container-about .article-about .descript-about {
        width: 720px;
        justify-content: space-evenly;
        max-height: 100%;
    }

    main .about .container-about .article-about .descript-about p{
        text-align: center;
    }
}



@media screen and (max-width: 990px) {
    /* --- Portfolio --- */
    main .portfolio .container-portfolio .container-projects {
        width: 95%;
    }

    main .portfolio .container-portfolio .container-projects .project {
        max-width: 45%;
    }
}


@media screen and (max-width:1200px) and (min-width: 990px) {
    main .services .container-servs .container-servs-img .cadre-servs .service div {
        max-width: 395px;
    }
}


@media screen and (max-width: 1048px) {
    main .landing .features .container-features {
        padding: 50px 0
    }
    
    main .landing .features .feature {
        max-width: 367px;
    }
}


@media screen and (max-width: 778px) {
    /* --- spitiale-title --- */
    .descript-title {
        margin: -109px 0 0 0;
        font-size: 18px;
    }

    main .landing .features .feature {
        max-width: 100%;
    }

    .special-heading {
        font-size: 60px
    }

    main .services .container-servs .container-servs-img {
        padding: 21px 0 40px 0
    }

    main .services .container-servs .container-servs-img .cadre-servs {
        column-gap: 0px;
    }

    main .services .container-servs .container-servs-img .cadre-servs .service {
        text-align: center;
        flex-direction: column;
        max-width: 332px;
    }

    main .services .container-servs .container-servs-img .cadre-servs .service i {
        width: 100%;
        height: auto;
    }

    main .services .container-servs .container-servs-img .cadre-servs .service div {
        max-width: 100%;
        width: 100%;
    }    

    /* ---- Portfolio ---- */ 
    main .portfolio .container-portfolio {
        row-gap: 40px;
    }

    /* ---- Contact ---- */
    main .contact .container-contact {
        row-gap: 50px;
    }

    main .contact .container-contact .artcile-contact p {
        font-size: 25px;
    }
    
    main .contact .container-contact .artcile-contact .mail {
        font-size: 25px;
    }

    main .contact .container-contact .artcile-contact .social span {
        font-size: 15px;
    }
}


@media screen and (max-width: 681px) {
    main .landing .features .container-features {
        row-gap: 25px
    }

    main .services .container-servs .container-servs-img {
        padding: 0 0 40px 0;
    }

    main .services .container-servs .container-servs-img .cadre-servs {
        row-gap: 20px;
    }

    main .services .container-servs .container-servs-img .cadre-servs .service {
        max-width: 95%;
    }

    main .services .container-servs .container-servs-img .cadre-servs .service div {
        max-width: 100%;
    }

    /* --- Portfolio --- */
    main .portfolio .container-portfolio .container-projects .project {
        max-width: 100%;
    }
}


@media screen and (max-width: 480px) {

    main .landing .features .container-features {
        row-gap: 25px
    }   
}


@media screen and (max-width: 400px) {
    /* --- special-heading --- */
    .special-heading {
        font-size: 45px;
    }

    .descript-title {
        margin: -140px 0 0;
        font-size: 15px;
    }

    /* ---- Contact ---- */
    main .contact .container-contact {
        row-gap: 20px;
        padding: 60px 0 80px;
    }

    main .contact .container-contact .artcile-contact p {
        font-size: 20px;
    }
    
    main .contact .container-contact .artcile-contact .mail {
        font-size: 20px;
    }
    

    main .contact .container-contact .artcile-contact .social span {
        font-size: 13px;
    }

    main .contact .container-contact .artcile-contact .social i {
        font-size: 15px;
        padding: 0
    }

    /* ---- Footer ---- */
    #footer {
        font-size: 14px;
    }
}


@media screen and (max-width: 320px) {
    /* ---- Contact ---- */
    main .contact .container-contact {
        row-gap: 0px;
    }
    main .contact .container-contact .artcile-contact p {
        font-size: 16px;
    }
    
    main .contact .container-contact .artcile-contact .mail {
        font-size: 16px;
    }
}